<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UCD-CSSA</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="https://www.ucd.ie/t4media/favicon-32x32.png">
</head>

<body>
    <div class="app"></div>
    <template id="app">
        <div class="search-box">
            <svg><path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path></svg>
            <input type="text" placeholder="搜索" v-model="searchText" v-on:input="handleSearch($event)" />
        </div>
        <div class="card-list">
            <div class="card-container" v-for="post in filteredPosts">
                <div v-if="post.app_msg_ext_info">
                    <div class="card-date">{{ formatDate(post.comm_msg_info.datetime * 1000) }}</div>
                    <div class="card" v-if="post.app_msg_ext_info.multi_app_msg_item_list.length > 0">
                        <a :href="post.app_msg_ext_info.content_url">
                            <div class="card-hover keep-shape">
                                <div class="multi-card-title" v-html="highlightText(post.app_msg_ext_info.title)"></div>
                                <v-lazy-image class="card-cover keep-shape" :src="asLocalImg(post.app_msg_ext_info.cover)"></v-lazy-image>
                            </div>
                        </a>
                        <a v-for="sub_post in post.app_msg_ext_info.multi_app_msg_item_list"
                            :href="sub_post.content_url">
                            <div class="card-hover keep-shape">
                                <div class="card-sub-item">
                                    <div class="card-sub-title" v-html="highlightText(sub_post.title)"></div>
                                    <v-lazy-image class="card-sub-cover" :src="asLocalImg(sub_post.cover)"></v-lazy-image>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a :href="post.app_msg_ext_info.content_url" v-else>
                        <div class="card card-hover">
                            <v-lazy-image class="card-cover" :src="asLocalImg(post.app_msg_ext_info.cover)"></v-lazy-image>
                            <div class="card-content">
                                <div class="card-title" v-html="highlightText(post.app_msg_ext_info.title)"></div>
                                <p class="card-description" v-html="highlightText(post.app_msg_ext_info.digest)"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-lazy-image@latest/dist/v-lazy-image.js"></script>
    <script>
        const card_list = Vue.createApp({
            data() {
                return {
                    posts: [],
                    filteredPosts: [],
                    searchText: "",
                };
            },
            async created() {
                this.filteredPosts = this.posts = await (await fetch("data/posts.json")).json();
            },
            components: {
                VLazyImage,
            },
            methods: {
                formatDate(timestamp) {
                    const date = new Date(timestamp);
                    const now = new Date();
                    const yesterday = new Date(now - 24 * 60 * 60 * 1000);
                    const lastWeek = new Date(now - 6 * 24 * 60 * 60 * 1000);
                    if (date.toDateString() === now.toDateString()) {
                        return '今天';
                    } else if (date.toDateString() === yesterday.toDateString()) {
                        return '昨天';
                    } else if (date > lastWeek) {
                        return '星期' + ['天', '一', '二', '三', '四', '五', '六'][date.getDay()];
                    } else {
                        return `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`;
                    }
                },
                asLocalImg(url) {
                    return `imgs/${url.split('/')[4]}.jpg`;
                },
                handleSearch(event) {
                    this.filteredPosts = this.posts.filter(post => {
                        if (post.app_msg_ext_info) {
                            return post.app_msg_ext_info.title.includes(event.target.value) ||
                                post.app_msg_ext_info.digest.includes(event.target.value) ||
                                post.app_msg_ext_info.multi_app_msg_item_list.some(sub_post => {
                                    return sub_post.title.includes(event.target.value) ||
                                        sub_post.digest.includes(event.target.value);
                                });
                        }
                    });
                },
                highlightText(text) {
                    return text.replaceAll(this.searchText, `<span class="highlight">${this.searchText}</span>`);
                }
            },
            template: '#app'
        }).mount('.app');
    </script>
</body>

</html>